<% include breadcrumb.ejs %>

<% if (response.results) { %>
<ol id="results" class="full-body-content">
  <% for (var i=0; i < response.results.length; i++) {
    var result = response.results[i]; %>
    <a href="/item/<%= result.id %>">
      <li class="result">
        <img src="<%= result.picture %>" class="thumbnail">
        <p class="price">
          <%= result.price.currency == 'ARS' ? '' : result.price.currency %>
          $ <%= result.price.amount %><span class="decimals">
            <% var decimals = result.price.decimals, decimalsString = result.price.decimals.toString() %>
            <%= decimals == 0 ? '' : decimals < 10 ? '0' + decimalsString : decimalsString %>
          </span>
          <% if (result.free_shiping) { %>
            <img src="/images/shipping.png" class="shipping">
          <% } %>
        </p>
        <p class="address"><%= result.address %></p>
        <h1><%= result.title %></h1>
      </li>
    </a>
  <% } %>
</ol>
<% } %>
